.service-strip {
  padding: 4rem 6rem;
  background-color: #fff;
  text-align: center;
}

.service-heading {
  color: black;
  font-size: 1.5rem;
  letter-spacing: 0.2em;
  margin-bottom: 3rem;
  font-weight: 600;
}

/* Items row */
.service-items {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  gap: 5rem;
  background-color:white;
}

/* Single item */
.service-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  background-color: rgb(248, 243, 243);
  width: 9rem;
  height: 10rem;
  padding: 1rem;
}

/* SVG icons */
.service-item svg {
  width: 36px;
  height: 36px;
  stroke: #000;
  fill: none;
  stroke-width: 1.2;
}

/* Affirm text */
.brand-text {
  font-weight: 700;
  font-size: 1.2rem;
}

/* Links */
.service-item a {
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  max-width: 140px;
  line-height: 1.4;
}
