/* ---------- Navbar ---------- */
.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: rgb(248, 243, 243);
  backdrop-filter: blur(6px);
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  /* border-bottom: 1px solid #2c2c2c; */
}

/* Left brand */
.navbar-left {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: black;
  text-decoration: none;
}

/* Right menu */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.navbar-right Link{
  text-decoration: none;
  font-size: 0.95rem;
  color: black;
  transition: color 0.3s ease;

}
.navbar-right a {
  text-decoration: none;
  font-size: 0.95rem;
  color: black;
  transition: color 0.3s ease;
}

.navbar-right a:hover {
  color: #e6c27a;
}

/* Button */
.nav-btn {
  padding: 0.5rem 1.3rem;
  border: 1px solid black;
  border-radius: 25px;
  color: black !important;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.nav-btn:hover {
  background-color: black;
  color: #e6c27a !important;
}
