.product-slider {
  position: relative;
  padding: 3rem 4rem;
  background: #fff;
}

.slider-track {
  display: flex;
  gap: 2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.slider-track::-webkit-scrollbar {
  display: none;
}

/* Card */
/* .product-card {
  min-width: 240px;
  flex-shrink: 0;
  text-align: left;
  font-family: inherit;
} */
.product-card {
  background-color: rgb(248, 243, 243);
  /* padding: 1rem; */
  border-radius: 10px;
  display: inline-block;      /* key line */
  min-width: fit-content;         /* key line */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.product-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.product-card img {
  width: auto;
  max-width: 290px;
  height: 300px;
  object-fit: contain;
  display: block;
  margin-bottom: 1rem;
  border-radius: 8px;
  /* background-color: rgb(248, 243, 243); */
  padding: 0.5rem;
}

.image-wrap {
  position: relative;
  background: #f6f6f6;
  padding:0rem 1.5rem 0rem 1.5rem;
}

.image-wrap img {
  width: 100%;
  height: 280px;
  object-fit: contain;
}

/* Text */
.product-card h4 {
  font-size: 0.85rem;
  margin: 0.8rem 0 0.3rem;
  font-weight: 500;
}
.title{
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}
.price {
  margin-left: 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: black;
}

/* Navigation */
.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
}

.nav.left {
  left: 1rem;
}

.nav.right {
  right: 1rem;
}
