---------- Global Reset ----------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", sans-serif;
  /* background-color: #1c1c1c; */
  color: black;
  line-height: 1.6;
}

/* ---------- Products Section ---------- 
.products {
  padding: 4rem 2rem;
}

.products h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #e6c27a;
}

.category {
  margin-bottom: 3rem;
}

.category h3 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
  border-left: 4px solid #e6c27a;
  padding-left: 0.75rem;
}

/* ---------- Product Grid ---------- 
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
  gap: 2rem;
  justify-content: start;
}
 

/* ---------- Product Card ---------- */





/* .product-card p {
  font-size: 0.9rem;
  color: black;
  margin-bottom: 0.6rem;
}

.product-card strong {
  color: #e6c27a;
  font-size: 1rem;
}


/* ---------- Responsive ---------- 
@media (max-width: 768px) {
  .home h1 {
    font-size: 2.2rem;
  }

  .navbar {
    flex-direction: column;
    gap: 1rem;
  }
} */
